*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body{
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    background: #fff;
    color: #000;
    font-size: 15px;
    line-height: 1.2;
}

 a {
     color: #262626;
     text-decoration: none;
 }

 a:hover{
     margin-right: 2px;
 }

 ul{
   list-style-type: none;
 }

 .container{
     width: 92%;
     max-width: 1200px;
     margin:  auto;
 }

 /* for nav */

 .main-nav {
     display: flex;
     justify-content: space-between;
     align-items: center;
     height: 60px;
     padding: 20px 0;
     font-size: 15px;
 }

 .main-nav .logo{
     width: 110px;
 }

 .main-nav ul {
     display: flex;
 }

 .main-nav ul li {
     padding: 0 10px;
 }

 .main-nav ul li a{
    padding-bottom: 2px;
}

 .main-nav ul li a:hover {
     border-bottom: 2px solid #262626;
 }
 .main-nav ul.main-menu{
     flex: 1;
     margin-left: 20px;
 }

/* Global Button */

.btn{
    cursor: pointer;
    display: inline-block;
    border: 0;
    font-weight: bold;
    padding:  10px 20px;
    background: #262626;
    color: #fff;
    font-size: 16px;
}

.btn-1{
    cursor: pointer;
    display: inline-block;
    border: 0;
    background: #5c5a5a;
    font-weight: bold;
    padding:  10px 20px;
    color: #fff;
    font-size: 16px;
}

.btn:hover, .btn-1:hover{
    opacity: 0.7;
}

/* Showcase */

.showcase{
    width: 100%;
    height: 400px;
    background: url('https://img-prod-cms-rt-microsoft-com.akamaized.net/cms/api/am/imageFileData/RE4DRie?ver=3184&q=0&m=8&h=431&w=767&b=%23FFFFFFFF&l=f&x=1131&y=919&s=767&d=431&aim=true') 
    no-repeat center center/cover;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    justify-content: flex-end;
    padding-bottom: 50px;
    margin-bottom: 20px;
}

.showcase h2, .showcase p{
    margin-bottom: 10px;
    font-weight: bolder;
}

.showcase .btn, .btn-1{
    margin-top: 20px;
}

/* home cards */

.home-card {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-gap: 20px;
    margin-bottom: 40px;
}

.home-card img {
    width: 100%;
    margin-bottom: 20px;
}

.home-card h3 {
    margin-bottom: 5px;
}

.home-card a{
    display: inline-block;
    padding-top: 10px;
    color: #0067b8;
    text-transform: uppercase;
    font-weight: bold;
}

.home-card a:hover{
    margin-left: 10px;
}

/* onrdrive styling */

.onedrive{
     width: 100%;
     height: 600px;
     background: url('https://img-prod-cms-rt-microsoft-com.akamaized.net/cms/api/am/imageFileData/RE2OLdz?ver=d01f&q=0&m=8&h=431&w=767&b=%23FFFFFFFF&l=f&x=791&y=199&s=1318&d=741&aim=true') no-repeat
     center center/cover;
     margin-bottom: 20px;
}

.onedrive .content{
    width: 50%;
    padding: 110px 0 0 30px;
}

.onedrive .onedrive-btn{
    margin-bottom: 50px;
}

.onedrive p{
    margin: 10px 0 20px;
}